body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo pastel */
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff; /* Blanco */
    padding: 40px 0 20px; /* Añadido relleno superior y reducido el inferior */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Z-index más bajo que el del formulario */
}

header img {
    max-width: 200px; /* Ajusta el tamaño según sea necesario */
}

.container {
    max-width: 600px;
    margin: 240px auto 20px; /* Ajustado margen superior */
    padding: 20px;
    background-color: #fff; /* Blanco */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Añadido posicionamiento relativo */
    z-index: 2; /* Z-index mayor que el del encabezado */
}

h1 {
    color: #c2185b; /* Rosa oscuro */
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px 20px;
    background-color: #ffd7e5; /* Rosa pastel */
    color: #c2185b; /* Rosa oscuro */
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #fce4ec; /* Rosa claro */
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ffd7e5; /* Rosa pastel */
    color: #c2185b; /* Rosa oscuro */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fce4ec; /* Rosa claro */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative; /* Añadido posicionamiento relativo */
    z-index: 1; /* Z-index mayor que el del encabezado */
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff; /* Blanco */
    border-radius: 4px;
}

#resultado p {
    margin: 0;
}
