/* Estilo para el contenedor */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
.container h1 {
    color: #333333; /* Gris oscuro */
    text-align: center;
}

/* Estilo para los campos de entrada */
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #cccccc; /* Gris claro */
    box-sizing: border-box;
}

/* Estilo para el botón */
button {
    padding: 10px 20px;
    background-color: #007BFF; /* Azul estándar */
    color: #ffffff; /* Blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Azul oscuro */
}

/* Estilo para el contenedor del mensaje de éxito */
#successMessage {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda; /* Verde claro */
    border-radius: 4px;
    display: none; /* Ocultar inicialmente */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Gris muy claro */
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF; /* Azul estándar */
    color: #ffffff; /* Blanco */
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3; /* Azul oscuro */
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff; /* Blanco */
    border-radius: 4px;
}

#resultado p {
    margin: 0;
}

/* Estilos específicos para el encabezado */
header {
    background-color: #ffffff; /* Blanco */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    text-align: center;
    z-index: 100; /* Z-index mayor para que esté por encima del resto de elementos */
}

header img {
    max-width: 200px; /* Ajusta el tamaño según sea necesario */
}
